In [17]:
# import the needed libraries 

import pandas as pd
import glob

## Merge all 100 lists

In [18]:
# Step 1: Define the path to your CSV files

csv_files1 = glob.glob('data/*.csv')

In [19]:
# Step 2: Initialize an empty list to store DataFrames
dataframes = []

In [20]:
# Loop through each CSV file and read it into a DataFrame

for csv_file1 in csv_files1:
    df = pd.read_csv(csv_file1)
    dataframes.append(df)

In [21]:
# Step 3: Concatenate the DataFrames into one large DataFrame

merged_df1 = pd.concat(dataframes, ignore_index=True)

In [22]:
# Step 4: Save the merged DataFrame to a new CSV file

merged_df1.to_csv('merged_data1.csv', index=False)

## Handling Missing Data:

In [23]:
#  Check for missing values in each column

merged_df1.isnull().sum()

category     0
month        0
year         0
clicks      30
dtype: int64

In [24]:
# Remove rows with missing values 

clean1_df = merged_df1.dropna()
clean1_df

                     category  month  year   clicks
0     Coffee machine cleaning      3  2021  64776.0
1     Coffee machine cleaning      8  2021  49835.0
2     Coffee machine cleaning     12  2021  61787.0
3     Coffee machine cleaning      9  2021  51273.0
4     Coffee machine cleaning     11  2021  64788.0
...                       ...    ...   ...      ...
1194       outdoor navigation      9  2021  57268.0
1196       outdoor navigation     12  2021  58532.0
1197       outdoor navigation      2  2021  47455.0
1198       outdoor navigation     10  2021  47619.0
1199       outdoor navigation      8  2021  69570.0

[1170 rows x 4 columns]

## Handling Duplicates:

In [25]:
# Check for duplicates

duplicates = clean1_df.duplicated()
duplicates

0       False
1       False
2       False
3       False
4       False
        ...
1194    False
1196    False
1197    False
1198    False
1199    False
Length: 1170, dtype: bool

In [26]:
# Print the rows that are duplicates

print(clean1_df[duplicates])

Empty DataFrame
Columns: [category, month, year, clicks]
Index: []

In [27]:
num_duplicates = duplicates.sum()
print(f"Number of duplicates: {num_duplicates}")

Number of duplicates: 0

In [30]:
# Step 4: Save the merged DataFrame to a new CSV file

clean1_df.to_csv('merged_and_clean_data.csv', index=False)