In [9]:
# import the needed libraries 

import pandas as pd
import glob

## 1. Start by reading a sample of the data

In [10]:
# let's read a sample of the data 

df = pd.read_csv('./data/pis_1.csv', sep=';')

In [11]:
# let's first look at a sample data

df

          category,month,year,clicks
0    men's low shoes,12,2021,82951.0
1     men's low shoes,2,2021,75533.0
2     men's low shoes,8,2021,86342.0
3    men's low shoes,10,2021,99433.0
4     men's low shoes,7,2021,81017.0
5     men's low shoes,9,2021,92678.0
6     men's low shoes,4,2021,92869.0
7     men's low shoes,6,2021,73078.0
8     men's low shoes,1,2021,86503.0
9            men's low shoes,3,2021,
10    men's low shoes,5,2021,93879.0
11  men's low shoes,11,2021,103735.0

 ## 2. Merge all 100 lists

In [12]:

# Step 1: Define the path to your CSV files

csv_files = glob.glob('data/*.csv')

In [13]:
# Step 2: Initialize an empty list to store DataFrames
dataframes = []

In [14]:
# Loop through each CSV file and read it into a DataFrame

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dataframes.append(df)

In [15]:
# Step 3: Concatenate the DataFrames into one large DataFrame

merged_df = pd.concat(dataframes, ignore_index=True)

In [16]:
# Step 4: Save the merged DataFrame to a new CSV file

merged_df.to_csv('merged_data.csv', index=False)

In [17]:
merged_df = pd.read_csv('merged_data.csv')

In [18]:
merged_df

                     category  month  year   clicks
0     Coffee machine cleaning      3  2021  64776.0
1     Coffee machine cleaning      8  2021  49835.0
2     Coffee machine cleaning     12  2021  61787.0
3     Coffee machine cleaning      9  2021  51273.0
4     Coffee machine cleaning     11  2021  64788.0
...                       ...    ...   ...      ...
1195       outdoor navigation      3  2021      NaN
1196       outdoor navigation     12  2021  58532.0
1197       outdoor navigation      2  2021  47455.0
1198       outdoor navigation     10  2021  47619.0
1199       outdoor navigation      8  2021  69570.0

[1200 rows x 4 columns]